* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  text-decoration: none;
  list-style: none;
  scroll-behavior: smooth;


}

html {

  height: 100%;

}

body {

  min-height: 100%;
  background-color: #dbd5d5;

}







.container_navbar {
  font-family: sans-serif;
  background: #091877;
  height: 60px;
  width: 100vw;
  display: flex;
  align-items: center;
  text-align: center;
  bottom: 100%;
  /* border: 2px solid black; */
  position: fixed;
  top: 0px;
  z-index: 1000000;

}

.logo {
  margin-left: 50px;
  padding-top: 60px;
}

.logo img {
  border-radius: 50%;

}

.left {
  align-items: center;
  color: white;
  text-align: center;
  margin-left: 100px;
}

.p {
  display: inline-block;
  line-height: 60px;
  color: white;
  font-size: 15px;
  padding: 0px 15px;
  border-radius: 3px;
  margin-left: 30px;
}


.p:hover {
  color: yellow;
  background-color: #040c3d;

}

a {
  color: white;
}

a:hover {
  color: yellow;
  background-color: #040c3d;
}

#bagach {
  display: none;
  color: white;
}

@media screen and (max-width: 1100px) {
  .left {
    display: none;
  }

  #bagach {
    display: block;
    margin-left: 80vw;


  }

  .container {
    justify-content: space-between;
    padding-right: 30px;
  }


  .logo img {
    width: 60px;
    height: 60px;
  }
  .logo {
    padding-top: 0px;
  }
}


.khoibentrai {
  position: absolute;
  background-color: #262626;
  color: white;
  display: block;
  position: fixed;
  right: 0;
  padding-bottom: 30px;
  height: 100%;
  width: 300px;

  justify-content: space-between;
  /* width: var(--wpex-sidr-width,320px); */
  font-family: 'Courier New', Courier, monospace;
  display: none;

}


.khoibentrai p {
  padding: 20px;
}


#bagach:hover {
  color: yellow;
}

#x:hover {
  color: yellow;
}






* {box-sizing:border-box}

/* Slideshow container */
.slideshow-container {
  max-width: 69vw;
  position: relative;
  margin:60px auto auto auto;
  height: 600px;
}

/* Hide the images by default */
.mySlides {
  display: none;
  width: 100%;
  height: 100%;
}

.mySlides img{
  /* max-width: 700px;
  max-height:500px ;
  min-height: 500px; */

  width: 100%;
  height: 100%;

}

/* Next & previous buttons */
.prev, .next {
  cursor: pointer;
  position: absolute;
  top: 50%;
  width: auto;
  margin-top: -22px;
  padding: 16px;
  color: white;
  font-weight: bold;
  font-size: 18px;
  transition: 0.6s ease;
  border-radius: 0 3px 3px 0;
  user-select: none;
}

/* Position the "next button" to the right */
.next {
  right: 0;
  border-radius: 3px 0 0 3px;
}

/* On hover, add a black background color with a little bit see-through */
.prev:hover, .next:hover {
  background-color: rgba(0,0,0,0.8);
}

/* Caption text */
.text {
background-color: #091877;
  color: yellow;
  font-size: 30px;
  font-weight: 300;
  padding: 8px 12px;
  position: absolute;
  bottom: 8px;
  width: 100%;
  text-align: center;
}

/* Number text (1/3 etc) */
.numbertext {
  color: #000000;
  font-size: 12px;
  /* padding: 8px 12px; */
  position: absolute;
  top: 0;
}

/* The dots/bullets/indicators */
.dot {
  cursor: pointer;
  height: 15px;
  width: 15px;
  margin: 0 2px;
  background-color: #bbb;
  border-radius: 50%;
  display: inline-block;
  transition: background-color 0.6s ease;
}

.active, .dot:hover {
  background-color: #717171;
}

/* Fading animation */
.fade {
  animation-name: fade;
  animation-duration: 1.5s;
}

@keyframes fade {
  from {opacity: .4}
  to {opacity: 1}
}






.footer {
  display: flex;
  flex-flow: row wrap;
  padding: 30px 30px 20px 30px;
  color: white;
  background-color: #091877;
  border-top: 1px solid #e5e5e5;
  position: sticky;
  top: 100%;
  font-family: sans-serif;
}

.footer>* {
  flex: 1 100%;
}

.footer__addr {
  margin-right: 1.25em;
  margin-bottom: 2em;
}

.footer__logo {
  margin-left: 20px;
}

.footer__logo img {
  border-radius: 50%;
}

.footer__addr h2 {
  margin-top: 1.3em;
  font-size: 15px;
  font-weight: 400;
}

.nav__title {
  font-weight: 400;
  font-size: 15px;
}

.footer address {
  font-style: normal;
  color: white;
}

.footer__btn {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 36px;
  max-width: max-content;
  background-color: rgba(216, 121, 32, 0.07);
  border-radius: 100px;
  color: white;
  line-height: 0;
  margin: 0.6em 0;
  font-size: 1rem;
  padding: 0 1.3em;
}

.footer ul {
  list-style: none;
  padding-left: 0;
}

.footer li {
  line-height: 2em;
}

.footer a {
  text-decoration: none;
}

.footer__nav {
  display: flex;
  /* flex-flow: row wrap; */
}

.footer__nav>* {
  flex: 1 50%;
  margin-right: 1.25em;
}

.nav__ul a {
  color: #999;
}

.nav__title {
  margin-left: 35px;
}

.nav__ul--extra {
  margin-left: 30px;
}

.legal {
  display: flex;
  flex-wrap: wrap;
  color: #999;
}

.legal__links {
  display: flex;
  align-items: center;
}

@media screen and (min-width: 24.375em) {
  .legal .legal__links {
    margin-left: auto;
  }
}

@media screen and (min-width: 40.375em) {
  .footer__nav>* {
    flex: 1;
  }

  .nav__item--extra {
    flex-grow: 2;
  }

  .footer__addr {
    flex: 1 0px;
  }

  .footer__nav {
    flex: 2 0px;
  }
}




.lichsu{
  width: 70%;
  padding: 30px;
  background-color: white;
  font-size: 20px;
  margin: auto;
  display: flex;
  margin-top: 50px;
  color: rgb(75, 24, 24);
  border-radius: 10px;
}

.lichsu h1{
  text-align: center;
}

.lichsu p {
  margin: 10px;
}



.kiniem{
  width: 70%;
  padding: 30px;
  background-color: white;
  font-size: 20px;
  margin: auto;
  /* display: flex; */
  margin-top: 50px;
  color: rgb(75, 24, 24);
  border-radius: 10px;
  align-items: center;
  
}

.kiniem h1{
  text-align: center;
}

.kiniem img{
width: 70%;


}